<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title> Edit series </title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css">

    <link href="cover.css" rel="stylesheet">

</head>
<body>
<header class="mb-auto">
    <div>
        <h3 class="float-md-start mb-0">Edit series</h3>
        <nav class="nav nav-masthead justify-content-center float-md-end">
            <a class="nav-link" href="/">Home</a>
            <a class="nav-link" href="/movies">Movies</a>
            <a class="nav-link" href="/series">Series</a>
        </nav>
    </div>
</header>
<div class="container mt-5 mb-5">
    <div th:each="element : ${posts}" >
        <form method="post">
            <input type="text" name="title"  th:value="${element.title}" placeholder="Introduceti titlul filmului" class="form-control"><br>
            <input type="text" name="age" th:value="${element.age}" placeholder="Introduceti anul in care a fost lansat filmul" class="form-control"><br>
            <input type="text" name="country" th:value="${element.country}" placeholder="Introduceti tara in care s-a filmat" class="form-control"><br>
            <input type="text" name="episodes" th:value="${element.episodes}" placeholder="Introduceti numarul de episoade" class="form-control"><br>
            <input type="text" name="genre" th:value="${element.genre}" placeholder="Introduceti genul" class="form-control"><br>
            <textarea name="description" placeholder="Introduceti descrierea" class="form-control" th:text="${element.description}"/><br>
            <button type="submit" class="btn btn-succes">Edit</button>
        </form>
    </div>
</div>
<footer class="text-muted py-5">
    <div class="container">
        <p class="float-end mb-1">
            <a href="#">Back to top</a>
        </p>
        <p class="mb-1">laborator 5 proiect pentru POO </p>
    </div>
</footer>
</body>
</html>